<!DOCTYPE html>
<html>
  <head>
    <title>쿠레이트 - CourAIt</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://spin.js.org/spin.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.min.css">
    <link rel='stylesheet' href="/stylesheets/input.css" />
    <link href='/stylesheets/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/stylesheets/fullcalendar/daygrid/main.css' rel='stylesheet' />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <nav class="navbar">
          <span id="logo" class="navbar-brand">
            <!-- <span style="color: white;">CourAIt</span> -->
            <img src="/images/logo_white.png" class="img-responsive" width="160" height="70" alt="CourAIt" style="margin-top: -12.5%; margin-bottom: -12.5%;">
          </span>
          <div class="nav-item">
            <div class="navbar-item">
              <span class="nav-submenu">지출조회</span>
              <div class="dropdown-content">
                <span id="nav-month">월별 조회</span>
                <span id="nav-day">일별 조회</span>
                <span id="nav-input">수동 지출 입력</span>
              </div>
            </div>
            <div class="navbar-item">
              <span id="get-budget-btn" class="nav-submenu">예산관리</span>
              <div class="dropdown-content">
                <a href="/user/budget/new">예산 설정</a>
                <a href="/history/budget">예산 대비 지출 조회</a>
              </div>
            </div>
            <div class="navbar-item">
              <span class="nav-submenu">분류별 조회</span>
              <div class="dropdown-content">
                <a href="/history/percent">분류별 점유율</a>
                <a href="/user/category">분류별 지출 금액</a>
              </div>
            </div>
            <div class="navbar-item">
              <span class="nav-submenu"><i class="fas fa-user"></i></span>
              <div class="dropdown-content">
                <span data-toggle="modal" data-target="#feedback">문의하기</span>
                <a href="https://courait.s3.ap-northeast-2.amazonaws.com/courait.apk" target="_blank">앱 다운로드</a>
                <span data-toggle="modal" data-target="#excel">엑셀 다운로드</span>
                <span data-toggle="modal" data-target="#withdrawl">회원탈퇴</span>
                <span id="logout">로그아웃</span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="day-title">
        <span>수동 지출 입력</span>
      </div>
      <div class="day-subtitle">
        <span>지출 내역을 수동으로 입력할 수 있습니다</span>
      </div>
      <form action="">
        <div class="form-group">
          <input type="text" class="form-control" id="item-name" placeholder="상품명을 입력해주세요">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="price" placeholder="상품의 가격을 입력해주세요">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="datepicker" placeholder="구매하신 날짜를 입력해주세요">
        </div>
        <button id="item-input-btn" type="button" class="btn btn-default btn-lg btn-block">등록하기</button>
      </form>
    </div>
    <!-- <div class="">

    </div> -->


    <div id="feedback" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">문의하기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="feedback-content">문의내용</label>
              <textarea class="form-control" id="feedback-content" rows="5" placeholder="내용을 입력해주세요!"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button id="feedback-btn" type="button" class="btn btn-primary">문의하기</button>
          </div>
        </div>
      </div>
    </div>

    <div id="withdrawl" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">회원탈퇴</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="feedback-content">비밀번호</label>
              <input type="password" class="form-control" id="withdrawl-password" placeholder="비밀번호를 입력해주세요!"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button id="withdrawl-btn" type="button" class="btn btn-primary">탈퇴하기</button>
          </div>
        </div>
      </div>
    </div>

    <div id="excel" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">지출내역 엑셀 다운로드</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="feedback-content">엑셀파일로 다운로드할 월을 선택해주세요</label>
              <select class="custom-select my-1 mr-sm-2" id="excel-month">
                <option value="1">1월</option>
                <option value="2">2월</option>
                <option value="3">3월</option>
                <option value="4">4월</option>
                <option value="5">5월</option>
                <option value="6">6월</option>
                <option value="7">7월</option>
                <option value="8">8월</option>
                <option value="9">9월</option>
                <option value="10">10월</option>
                <option value="11">11월</option>
                <option value="12">12월</option>
              </select>
            </div>
          </div>
          <div id="excel-modal-footer" class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button id="excel-btn" type="button" class="btn btn-primary">다운로드</button>
          </div>
        </div>
      </div>
    </div>

    <div id="spinner"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="/javascripts/jquery.hoverIntent.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="/javascripts/jquery.counterup.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <script src="/javascripts/input.js"></script>
    <script src="/javascripts/base.js"></script>
    <script src='/javascripts/fullcalendar/core/main.js'></script>
    <script src='/javascripts/fullcalendar/daygrid/main.js'></script>
  </body>
</html>
