<!DOCTYPE html>
<html>
  <head>
    <title>쿠레이트 - CourAIt</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://spin.js.org/spin.css">
  </head>
  <body>
    <div class="wrap border-bottom">
      <div class="header">
        <nav class="navbar navbar-white bg-white">
          <a id="logo" class="navbar-brand" href="/">
            CourAIt
            <!-- <img src="/images/logo.png" width="50" height="30" alt=""> -->
          </a>
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="login-title">
        <span>회원가입</span>
      </div>
      <form action="">
        <div class="form-group">
          <label for="exampleInputEmail1">아이디(이메일)</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="아이디를 입력해주세요">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">비밀번호</label>
          <input type="password" class="form-control" id="pw" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">이름</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="이름을 입력해주세요">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">전화번호</label>
          <input type="text" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="전화번호를 입력해주세요">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">쿠팡 아이디</label>
          <input type="text" class="form-control" id="coupang_id" aria-describedby="emailHelp" placeholder="쿠팡 아이디를 입력해주세요">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">쿠팡 비밀번호</label>
          <input type="password" class="form-control" id="coupang_pw" aria-describedby="emailHelp" placeholder="쿠팡 비밀번호를 입력해주세요">
        </div>
        <button id="reg-btn" type="button" class="btn btn-info btn-lg btn-block">회원가입</button>
      </form>
    </div>
    <div id="spinner"></div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/javascripts/reg.js"></script>
    <script src="/javascripts/base.js"></script>
  </body>
</html>
